:root {
  --primary-color: #f8f9fa;
  --secondary-color: #c3c7cc;
  --the-darkest-color: #696767;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.heading {
  padding-top: 100px;
  text-align: center;
}
h1 {
  color: #3e3a3a;
  font-family: "Nanum Gothic", sans-serif;
}
h3 {
  text-align: center;
  color: var(--the-darkest-color);
  font-family: "Nanum Gothic", sans-serif;
}
h2 {
  font-family: "Nanum Gothic", sans-serif;
  color: var(--the-darkest-color);
}
p {
  font-family: "Nanum Gothic", sans-serif;
  color: #535050;
}
.buttons {
  display: flex;
  justify-content: center;
  font-family: "Nanum Gothic", sans-serif;
}

.button1 {
  border: var(--the-darkest-color);
  box-shadow: var(--box-shadow);
  color: var(--the-darkest-color);
  background-color: var(--secondary-color);
  margin: 20px;
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Nanum Gothic", sans-serif;
}
.button2 {
  color: #6c63ff;
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 10px;
  border: 1px solid var(--the-darkest-color);
  font-family: "Nanum Gothic", sans-serif;
}
.button2:hover {
  color: #696767;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--the-darkest-color);
}
.primary-link:hover {
  color: #696767;
}
.myprojectheading {
  text-align: center;
  margin: 25px 0px 50px 0px;
}
.infocontact {
  list-style: none;
  font-size: 20px;
  text-decoration: none;
  color: var(--the-darkest-color);
  padding-left: 300px;
}

.contactheading {
  font-size: 40px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 100px;
}
.fa-envelopes-bulk {
  color: var(--the-darkest-color);
}
.fa-instagram {
  color: var(--the-darkest-color);
}
.contact-box {
  margin: 60px 60px;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  background-color: #312f2f;
}
.button {
  border-radius: 5px;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--the-darkest-color);
}
.email-link {
  text-decoration: none;
  color: #312f2f;
  font-size: 20px;
}
